html {
	background-color: #e6e6e6;
}

body {
	margin: 1% 20% 6% 20%;
	background-color: #ffffff;
}

#doc {
	-moz-box-shadow: 0 0 4px 2px #888888;
	-webkit-box-shadow: 0 0 4px 2px #888888;
	box-shadow: 0 0 4px 2px #888888;
	padding: 2em 4em 6em 4em;
}

h1 {
	margin-bottom: 5px;
}
h2 {
	margin-top: 5px
}

h1, h2 {
	text-align: center;
}

h2 {
	font-size: 1em;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0000ff;
	text-decoration: underline;
}

hr {
	margin: 20px 0 20px 0;
}

div.clear > hr {
	border: 0;
	margin: 0 0 0 0;
	visibility: hidden;
}

h3 {
	padding-left: 1em;
	margin: 10px 0px 10px 0px;
}

table {
	width: 100%;
	margin-left: 2em;
	margin-right: 2em;
}

td {
	vertical-align: top;
}

.right {
	text-align: right;
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

p {
	margin: 0;
	padding-left: 1em;
}

.tab1 {
	padding-left: 2em;
}

.tab2 {
	padding-left: 3em;
}

.experience {
	margin: 20px 0 20px 0;
	padding-left: 2em;
}


@media
only screen and (max-width: 1024px) {
	body {
		margin: 3% 18% 6% 18%;
	}

	table {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media
only screen and (max-width: 720px) {
	body {
		margin: 3% 3% 6% 3%;
	}

	#doc {
		-moz-box-shadow: 0 0 4px 2px #888888;
		-webkit-box-shadow: 0 0 4px 2px #888888;
		box-shadow: 0 0 4px 2px #888888;
		padding: 2em 1em 4em 1em;
	}

	table, tr, td {
		display: block;
		margin-left: 1em;
		margin-right: 0;
	}
	
	div.clear > hr {
		border: 1px solid #888888;
		border-top: 1px;
		margin-left: 1em;
		margin-right: 1em;
		background-color: #888888;
		visibility: visible;
	}
	
	.experience {
		padding-left: 0;
	}
	
	.tab1 {
		padding-left: 0;
	}

	.tab2 {
		padding-left: 1em;
	}
}